html,
body {
  transition: background-color 5s ease;
  background: #333333;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  text-align: right;
}

.meta {
  margin: 1rem;
  color: white;
}

.time {
  font-size: 5rem;
  font-weight: 100;
  font-variant-numeric: tabular-nums;
}
